body {
  background-color: black;
  font-family: 'Hacker Font', sans-serif;
  color: green;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 50px;
  max-width: 100%;
  height: auto;
  text-align: center;
}

.logo img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

.passcode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passcode h2 {
  margin-bottom: 20px;
}

.passcode input[type="password"] {
  padding: 10px;
  font-size: 18px;
  border: 2px solid green;
}

.passcode button[type="button"] {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: green;
  color: black;
  border: none;
  cursor: pointer;
}

.passcode button[type="button"]:hover {
  background-color: black;
  color: green;
  border: 2px solid green;
}
